<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="true" password="PepsiMax123!" userName="Mark" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="3DViewer.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
